@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Zilla+Slab+Highlight&display=swap');

.completed {
    font-weight:600;
    font-family: 'Zilla Slab Highlight', serif;
}
div {
    font-family: 'Nunito', sans-serif;
}

div, form, .text-center{
    color:azure;
}

